* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container{

    padding: 15px;
    display: flexbox;
    position: absolute;
    top: 25%;
    right: 60%;
    width: 30%;
    border-radius: 15px;
}

.fundo{
    background:url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .login-container input{
    text-align: center;
  width:40%;
  margin-left: 53px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 12px;
}

.login-container input:hover{
    border:3px solid rgb(0, 119, 255);
} */

.cadastro-container{

    padding: 15px;
    display: flexbox;
    position: absolute;
    top: 20%;
    right: 60%;
    width: 30%;
    border-radius: 15px;
}

.input-user-email-senha{
    margin-top: 40px;
    text-align: center;
    width:90%;
    margin-left: 25px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 12px;
}

.input-user-email-senha:hover{
    border:3px solid rgb(0, 119, 255);
}

.user-email-senha{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.botao-cadastro{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 40%;
    height: 40px;
    margin-left: 53%;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
}

.botao-cadastro:hover{
    background: rgb(0, 76, 255);
    color: rgb(255, 255, 255);
}

.GS{
    text-align: center;
}

.botao-login {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 40%;
    height: 40px;
    margin-left: 53%;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
}

.titulo1{
    color: aliceblue;
    width: 40%;
    height: 40px;
    margin-left: 22%;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.titulo2{
    color: aliceblue;
    width: 40%;
    height: 40px;
    margin-left: 29%;
    font-size: 20px;
    margin-top: 1px;
    text-transform: uppercase;

}


.mini-texto1 a{
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: rgb(190, 225, 255);
    /* width: 40%;
    height: 40px; */
    margin-right: 0;
    left: 50px;
    font-size: 15px;
    margin-top: -45px;
    text-transform: none;
    /* background-color: red; */
}

.mini-texto2 a{
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: rgb(190, 225, 255);
    /* width: 40%; */
    /* height: 40px; */
    left: 75px;
    margin-left: 120px;
    font-size: 15px;
    margin-top: -45px;
    text-transform: none;
    /* background-color: orange; */
}

.quadrado {
    width: 750px;
    height: 500px;
    background-color: rgb(38,38,38);
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 200px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quadrado p {
    white-space: normal;
    color: #ffffff;
    text-align: justify;
    font-size: 25px;
    padding: 20px;
}


.inicio{

    background-color: black ;
}

.inicio .quadrado1{

    background-color: black ;
    line-height:0; /* correção para IE (arg!) */
    width: 405px;
    height: 980px;
    background-color: rgb(38, 38, 38);
    border-width: 200px;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 2px;
    border: 2px solid rgb(0, 174, 255);
}

.inicio .quadrado2{

    background-color: black ;
    line-height:0; /* correção para IE (arg!) */
    width: 600px;
    height:1062px;
    background-color: rgb(24, 24, 24);
    border-width: 200px;
    border-radius: 10px;
    margin-top: -1063px;
    margin-left: 410px;
    
}

.inicio .quadrado3{

    background-color: black ;
    line-height:0; /* correção para IE (arg!) */
    width: 996px;
    height:650px;
    background-color: rgb(61, 61, 61);
    border-width: 200px;
    border-radius: 10px;
    margin-top: -1063px;
    margin-left: 1013px;
}

.inicio .quadrado4{

    background-color: black ;
    line-height:0; /* correção para IE (arg!) */
    width: 996px;
    height: 410px;
    background-color: rgb(42, 42, 42);
    border-width: 200px;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 1013px;
}

.pesquisa{
    line-height:0; /* correção para IE (arg!) */
    width: 500px;
    height: 40px;
    background-color: rgb(42, 42, 42);
    border-width: 200px;
    border-radius: 10px;
    margin-top: -970px;
    margin-left: 460px;
    border: 2px solid rgb(80, 80, 80);
}

.pesquisar{
    color: rgb(73, 73, 73);
    margin-top: 20px;
    margin-left: 200px;   
}

.icon-pesquisa{
    margin-top: -12px;
    margin-left: 20px; 
}

.titulo-qd1{
    color: white;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 40px;

}

.txt1{
    color: rgb(100, 100, 100);
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.quadrado1 p{
    color: rgb(255,255,255);
    font-size: 25px;
    margin-left: 80px;
}

.txt2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 100px;
    margin-left: 80px;
    text-decoration: none;
}

.txt2 :hover{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 100px;
    margin-left: 80px;
}

.icon-senhas{
    margin-top: 60px;
    margin-left: 45px;
}

.txt3{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 100px;
    margin-left: 80px;
    text-decoration: none;
}

.txt3 :hover{
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin-top: 100px;
        margin-left: 80px;
}

.icon-ip{
    margin-top: 70px;
    margin-left: 45px;
}

.txt4{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 100px;
    margin-left: 80px;
    text-decoration: none;
}

.txt4 :hover{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 100px;
    margin-left: 80px;
}

.icon-notas{
    margin-top: 72px;
    margin-left: 45px;
}

.txt5{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 100px;
    margin-left: 80px;
    text-decoration: none;
}

.txt5 :hover{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 100px;
    margin-left: 80px;
}

.icon-pi{
    margin-top: 73.5px;
    margin-left: 45px;
}

.contas-inicio{

    width: 580px;
    height: 100px;
    margin-top: 50px;
    margin-left: 420px;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;  
}

.add-conta{
    margin-top: -85px;
    margin-left: 620px;
    font-size: 25px; 
    color: white;
    text-decoration: none;
}

.icon-add-conta{

    margin-left: 690px;
    margin-top: -380px;
}

.config{
    margin-top: 600px;
    margin-left: 40px;
    font-size: 25px;

}

.config h3{
    margin-top: -34px;
    margin-left: 35px;
    font-size: 25px;
    color: white;

}

.contato{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
}

.contato h3{
    margin-top: -30px;
    margin-left: 35px;
    font-size: 25px;
    color: white;
}

.avaliar p{
    margin-top: 35px;
    margin-left: 35px;
    font-size: 30px;
    color: white;
}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2em;
  
  
}
.estrelas label i.fa:before {
  content:'\f005';
  color: rgb(0, 174, 255);
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.estrelas{
    margin-left: 32px;
    margin-top: 5px;
}
.botao-recsenha{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 40%;
    height: 40px;
    margin-left: 0%;
    margin-top: 5%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
}
.inserir-codigo{
    
    padding: 10px;
    display: flexbox;
    top: 5%;
    right: 50%;
    width: 70%;
    border-radius: 15px;
}
.botao-reenviar{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 40%;
    height: 40px;
    margin-left: -90%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);

}

.formulario-codigo{
    margin-top: 50px;

}

.input-email-esqueceu{

    width: 800px;
}

.esq-email-txt{

    text-align: center;
}